language: minimal
dist: xenial
services:
- docker
script:
- docker build -f TestDockerfile -t jafar-test .
- docker run --privileged -t
    -e TRAVIS_PULL_REQUEST=$TRAVIS_PULL_REQUEST
    -e TRAVIS_JOB_ID=$TRAVIS_JOB_ID
    -e TRAVIS=true
    -e COVERALLS_SERVICE_NAME=travis-ci
    jafar-test
