name: Go
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Install dependencies
      run: |
        sudo apt install curl dnsutils
        go mod download

    - name: Run tests written in Go
      run: go test -race -covermode atomic -coverprofile=jafar.cov ./...

    - name: Send coverage
      env:
        COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        GO111MODULE=off go get github.com/mattn/goveralls
        $(go env GOPATH)/bin/goveralls -coverprofile=jafar.cov -service=github

    - name: Build jafar
      run: go build -v .

    - name: Run external tests
      run: ./test/all.bash
